n8n-workflows/google-maps-course-finder.json
{
    "name": "Google Maps Course Finder",
    "nodes": [
        {
            "parameters": {},
            "id": "trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "query",
                            "value": "training centers"
                        },
                        {
                            "name": "location",
                            "value": "New York, NY"
                        },
                        {
                            "name": "serpapi_key",
                            "value": "YOUR_SERPAPI_KEY_HERE"
                        }
                    ]
                }
            },
            "id": "set_params",
            "name": "Set Search Parameters",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://serpapi.com/search.json",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "engine",
                            "value": "google_maps"
                        },
                        {
                            "name": "q",
                            "value": "={{ $json.query }}"
                        },
                        {
                            "name": "ll",
                            "value": "@40.7455096,-74.0083012,14z"
                        },
                        {
                            "name": "type",
                            "value": "search"
                        },
                        {
                            "name": "api_key",
                            "value": "={{ $json.serpapi_key }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "serpapi_request",
            "name": "SerpAPI Google Maps",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract local results from SerpAPI response\nconst results = $input.first().json.local_results || [];\n\nreturn results.map(place => ({\n  json: {\n    title: place.title,\n    address: place.address,\n    phone: place.phone || null,\n    website: place.website || null,\n    rating: place.rating || null,\n    reviews: place.reviews || 0,\n    type: place.type || null,\n    place_id: place.place_id,\n    gps_coordinates: place.gps_coordinates,\n    hours: place.hours || null,\n    thumbnail: place.thumbnail || null\n  }\n}));"
            },
            "id": "extract_places",
            "name": "Extract Places",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "filter_courses",
                            "leftValue": "={{ $json.type }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter_results",
            "name": "Filter Valid Places",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3000/api/scraping/receive",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "places",
                            "value": "={{ $json }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "send_to_app",
            "name": "Send to App (Optional)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Set Search Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Search Parameters": {
            "main": [
                [
                    {
                        "node": "SerpAPI Google Maps",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SerpAPI Google Maps": {
            "main": [
                [
                    {
                        "node": "Extract Places",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Places": {
            "main": [
                [
                    {
                        "node": "Filter Valid Places",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Valid Places": {
            "main": [
                [
                    {
                        "node": "Send to App (Optional)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}