n8n-workflows/Webhook-Trigger-for-Place-Search.json
{
    "nodes": [
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "Username",
                            "value": "={{ $json.body.username }}"
                        },
                        {
                            "name": "Email",
                            "value": "={{ $json.body.email }}"
                        },
                        {
                            "name": "Keyword",
                            "value": "={{ $json.body.keyword }}"
                        },
                        {
                            "name": "City",
                            "value": "={{ $json.body.city }}"
                        },
                        {
                            "name": "Search_Date",
                            "value": "={{ $now.format('yyyy-MM-dd') }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "23460a08-ef2f-44f8-a923-98bc885aef1b",
            "name": "Prepare Log Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                1280,
                848
            ]
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "id": "cf7254c7-bb11-47c8-a698-874919459166",
            "name": "Respond to Webhook1",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2160,
                592
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "filter_courses",
                            "leftValue": "={{ $json.type }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "2b81dbe5-1001-4e63-91cd-ddd2d075ff2c",
            "name": "Filter Valid Places1",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                1920,
                736
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract local results from SerpAPI response\nconst results = $input.first().json.local_results || [];\n\nreturn results.map(place => ({\n  json: {\n    title: place.title,\n    address: place.address,\n    phone: place.phone || null,\n    website: place.website || null,\n    rating: place.rating || null,\n    reviews: place.reviews || 0,\n    type: place.type || null,\n    place_id: place.place_id,\n    gps_coordinates: place.gps_coordinates,\n    hours: place.hours || null,\n    thumbnail: place.thumbnail || null\n  }\n}));"
            },
            "id": "9366d455-9869-41a9-a109-f9d603da4da6",
            "name": "Extract Places1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1728,
                736
            ]
        },
        {
            "parameters": {
                "authentication": "queryAuth",
                "url": "https://serpapi.com/search.json",
                "options": {},
                "queryParametersUi": {
                    "parameter": [
                        {
                            "name": "engine",
                            "value": "google_maps"
                        },
                        {
                            "name": "q",
                            "value": "={{ $json.body.keyword }} in {{ $json.body.city }}"
                        },
                        {
                            "name": "type",
                            "value": "search"
                        }
                    ]
                }
            },
            "id": "a53e98ee-1447-4506-9ebb-52d70064cc77",
            "name": "SerpAPI Request1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1520,
                736
            ],
            "credentials": {
                "httpQueryAuth": {
                    "id": "L9Y5M4JdMqoZYI3E",
                    "name": "Query Auth account 2"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "search-logs",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "5b8653b2-aa0d-4a0f-94ed-e38e3bfdfafe",
            "name": "Webhook1",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                1088,
                848
            ],
            "webhookId": "66956b3c-59e4-4e3b-a5c5-08c60e15893f"
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "operation": "append",
                "sheetId": "1ypqcc84g6NiqzNvXOvO95-O_ABAjCH5yXH3lVowObIw",
                "range": "A:E",
                "options": {}
            },
            "name": "Google Sheets1",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 1,
            "position": [
                1472,
                960
            ],
            "id": "bc4cd816-bcce-43b2-a314-b2bb863cb3f2",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "wgt41svRwRiew5Eu",
                    "name": "Google Sheets account 6"
                }
            }
        },
        {
            "parameters": {
                "tableId": "search_logs",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "username",
                            "fieldValue": "={{ $json.body.username }}"
                        },
                        {
                            "fieldId": "email",
                            "fieldValue": "={{ $json.body.email }}"
                        },
                        {
                            "fieldId": "keyword",
                            "fieldValue": "={{ $json.body.keyword }}"
                        },
                        {
                            "fieldId": "city",
                            "fieldValue": "={{ $json.body.city }}"
                        },
                        {
                            "fieldId": "search_date",
                            "fieldValue": "={{ $json.Search_Date }}"
                        }
                    ]
                }
            },
            "id": "399f40cd-4015-4351-9310-c8660950e74c",
            "name": "Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1664,
                960
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "527DOcVCm33uSJ0D",
                    "name": "Supabase account 5"
                }
            }
        },
        {
            "parameters": {
                "tableId": "scraped_data",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "title",
                            "fieldValue": "={{ $json.title }}"
                        },
                        {
                            "fieldId": "address",
                            "fieldValue": "={{ $json.address }}"
                        },
                        {
                            "fieldId": "phone",
                            "fieldValue": "={{ $json.phone }}"
                        },
                        {
                            "fieldId": "website",
                            "fieldValue": "={{ $json.website }}"
                        },
                        {
                            "fieldId": "rating",
                            "fieldValue": "={{ $json.rating }}"
                        },
                        {
                            "fieldId": "reviews",
                            "fieldValue": "={{ $json.reviews }}"
                        },
                        {
                            "fieldId": "type",
                            "fieldValue": "={{ $json.type }}"
                        },
                        {
                            "fieldId": "place_id",
                            "fieldValue": "={{ $json.place_id }}"
                        },
                        {
                            "fieldId": "gps_coordinates",
                            "fieldValue": "={{ $json.gps_coordinates }}"
                        },
                        {
                            "fieldId": "hours",
                            "fieldValue": "={{ $json.hours }}"
                        },
                        {
                            "fieldId": "thumbnail",
                            "fieldValue": "={{ $json.thumbnail }}"
                        }
                    ]
                }
            },
            "id": "8d1faae9-d6ae-432f-8435-f96660b38e68",
            "name": "Supabase1",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2160,
                736
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "527DOcVCm33uSJ0D",
                    "name": "Supabase account 5"
                }
            }
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "https://docs.google.com/spreadsheets/d/1ypqcc84g6NiqzNvXOvO95-O_ABAjCH5yXH3lVowObIw/edit?gid=1510429076#gid=1510429076",
                    "mode": "url"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "https://docs.google.com/spreadsheets/d/1ypqcc84g6NiqzNvXOvO95-O_ABAjCH5yXH3lVowObIw/edit?gid=1510429076#gid=1510429076",
                    "mode": "url"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "title": "={{ $json.title }}",
                        "address": "={{ $json.address }}",
                        "phone": "=\"{{ $json.phone}}\"",
                        "website": "={{ $json.website }}",
                        "rating": "={{ $json.rating }}",
                        "reviews": "={{ $json.reviews }}",
                        "type": "={{ $json.type }}",
                        "place_id": "={{ $json.place_id }}",
                        "gps_coordinates": "={{ $json.gps_coordinates }}",
                        "hours": "={{ $json.hours }}",
                        "thumbnail": "={{ $json.thumbnail }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "title",
                            "displayName": "title",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "address",
                            "displayName": "address",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "phone",
                            "displayName": "phone",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "website",
                            "displayName": "website",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "rating",
                            "displayName": "rating",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "reviews",
                            "displayName": "reviews",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "type",
                            "displayName": "type",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "place_id",
                            "displayName": "place_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "gps_coordinates",
                            "displayName": "gps_coordinates",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "hours",
                            "displayName": "hours",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "thumbnail",
                            "displayName": "thumbnail",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                2160,
                912
            ],
            "id": "7fdc065c-7b70-4df8-8886-840b6d0e4864",
            "name": "Append row in sheet",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "wgt41svRwRiew5Eu",
                    "name": "Google Sheets account 6"
                }
            }
        }
    ],
    "connections": {
        "Prepare Log Data": {
            "main": [
                [
                    {
                        "node": "Google Sheets1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "SerpAPI Request1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond to Webhook1": {
            "main": [
                []
            ]
        },
        "Filter Valid Places1": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Supabase1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Append row in sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Places1": {
            "main": [
                [
                    {
                        "node": "Filter Valid Places1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SerpAPI Request1": {
            "main": [
                [
                    {
                        "node": "Extract Places1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook1": {
            "main": [
                [
                    {
                        "node": "Prepare Log Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets1": {
            "main": [
                [
                    {
                        "node": "Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6fba02c56f732391825a81b0d3eb33212632413b406e8a0f3fe5b1cfa7369a99"
    }
}